<div class="content">
    <div class="left-side">
      <h1>Current Weather</h1>

      <div *ngIf="weatherData">
        <h2>{{ weatherData.name ? 'Weather in ' + weatherData.name : 'The name of the location is unknown' }}</h2>

        <p><strong>Timezone:</strong> {{ weatherData.timezone }}</p>
        <div class="temperature-container">
          <p><strong>Temperature:</strong> {{ getTempConvert(weatherData.main.temp) }}</p>
          <p><strong>Feels Like:</strong> {{ getTempConvert(weatherData.main.feels_like) }}</p>
          <p><strong>Min Temperature:</strong> {{ getTempConvert(weatherData.main.temp_min) }}</p>
          <p><strong>Max Temperature:</strong> {{ getTempConvert(weatherData.main.temp_max) }}</p>
          <div>
            
            <select id="unidad" [(ngModel)]="unidadSeleccionada">
              <option value="K">Kelvin (°K)</option>
              <option value="C">Celsius (°C)</option>
              <option value="F">Fahrenheit (°F)</option>
            </select>
          </div>
        </div>
        <p><strong>Pressure:</strong> {{ weatherData.main.pressure }} hPa</p>
        <p><strong>Humidity:</strong> {{ weatherData.main.humidity }}%</p>
        <p><strong>Weather:</strong> {{ weatherData.weather[0].description }}</p>
        <div class="speed-container">
          <p><strong>Wind Speed:</strong> {{ getSpeedConvert(weatherData.wind.speed) }} m/s</p>
          <div>
            <select id="unidad" [(ngModel)]="unidadSeleccionadaViento">
              <option value="m/s">Meters per Second(m/s)</option>
              <option value="K/h">Kilomiter per hour(K/m)</option>
            </select>
          </div>
        </div>
        <p><strong>Wind Speed:</strong> {{ weatherData.wind.speed }} m/s</p>
        <p><strong>Cloudiness:</strong> {{ weatherData.clouds.all }}%</p>
        <p><strong>Visibility:</strong> {{ weatherData.visibility }} meters</p>
        <p><strong>Sunrise:</strong> {{ convertUnixTime(weatherData.sys.sunrise, weatherData.timezone) }}</p>
        <p><strong>Sunset:</strong> {{ convertUnixTime(weatherData.sys.sunset, weatherData.timezone) }}</p>
      </div>
      <div>
        <h3>Map of {{weatherData.name}}</h3>
        <div id="map" style="height: 400px; margin-top: 20px;"></div>
      </div>
     
      
        
      </div>
        
      <div *ngIf="forecastData">
        <h2>Forecast</h2>
        <div *ngFor="let forecast of forecastData.list">
          <p><strong>Forecast Date:</strong> {{ formatForecastDate(forecast.dt_txt) }}</p>
          <p><strong>Temperature:</strong> {{ forecast.main.temp }}°K</p>
          <p><strong>Weather:</strong> {{ forecast.weather[0].description }}</p>
          <p><strong>Wind Speed:</strong> {{ forecast.wind.speed }} m/s</p>
          <p><strong>Cloudiness:</strong> {{ forecast.clouds.all }}%</p>
        </div>
      </div>
      </div>
  