body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: chocolate;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-container {
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  padding: 20px;
  max-width: 800px; /* Aumenta un poco el ancho */
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabeza {
  text-align: center;
  margin-bottom: 20px;
}

.weather-details .temperature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  gap: 20px; /* Espacio entre los elementos */
}

.weather-details .temperature-container p {
  width: 45%; /* Ajuste de tamaño para que no se desborden */
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  text-align: center; /* Centra el texto */
}

.weather-details .info-container {
  display: flex;
  flex-direction: column; /* Para mostrar las propiedades de forma vertical */
  gap: 15px;
}

.weather-details .info-container p {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tdia {
  background-color: #e3e7ec;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
}

.tdia:hover {
  background-color: #d1d8e0;
}

.clearfix {
  clear: both;
}

.select-container {
  top: 10px;
  right: 10px;
  display: inline-block;
  border-radius: 4%;
  
}
.select-container select, option{ 
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}

h1, h2 {
  text-align: center;
  font-size: 1.6rem; /* Ajuste el tamaño de la fuente para una mejor visualización */
  margin-bottom: 20px;
}

#map {
  height: 300px;
  width: 100%;
  border-radius: 8px; /* Redondea los bordes del mapa */
  margin-bottom: 20px;
}

.weather-details section {
  margin-bottom: 30px; /* Espacio entre las secciones */
}

.weather-details .pressure-humidity {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los dos elementos */
}

.weather-details .pressure-humidity p {
  width: 45%; /* Ajuste de tamaño para no desbordarse */
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-details .additional-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.weather-details .additional-info p {
  width: 45%;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
