<body>
  <header class="headeer">
    <h1>Current Weather</h1>
  </header>
  <div class="container">
  <div class="select-container">
    <select id="unidad" [(ngModel)]="unidadSeleccionada">
      <option value="K">Kelvin (°K)</option>
      <option value="C">Celsius (°C)</option>
      <option value="F">Fahrenheit (°F)</option>
    </select>
    <select id="unidad-viento" [(ngModel)]="unidadSeleccionadaViento">
      <option value="m/s">Meters per Second (m/s)</option>
      <option value="km/h">Kilometer per Hour (km/h)</option>
    </select>
  </div>
  
  <div *ngIf="isNotFound">
    <h1>The location does not exist.</h1>
  </div>
  
  <main *ngIf="!isNotFound && weatherData" class="div-container" aria-labelledby="current-weather">
    <div class="cabeza">
      <h2 id="current-weather">{{ weatherData.name ? 'Weather in ' + weatherData.name : 'Location unknown' }}</h2>
      <p><strong>Timezone:</strong> {{ translateTimezone(weatherData.timezone) }}</p>
    </div>

    <div class="coords">
    <p><strong>Lat: </strong>{{weatherData.coord.lat}} <strong> Lon: </strong>{{weatherData.coord.lon}}</p>
    </div>
    <div>
      <h3>Map of {{weatherData.name}}</h3>
      <div id="map" style="height: 400px; width: 100%;"></div>
    </div>

    <!-- Weather Information (Temperatures) -->
    <section class="weather-details" aria-labelledby="weather-info">
      <h3 id="weather-info" class="visually-hidden">Weather Information</h3>
      <div class="temperature-container">
        <p><strong>Temperature:</strong> {{ getTempConvert(weatherData.main.temp) }}</p>
        <p><strong>Feels Like:</strong> {{ getTempConvert(weatherData.main.feels_like) }}</p>
        <p><strong>Min Temperature:</strong> {{ getTempConvert(weatherData.main.temp_min) }}</p>
        <p><strong>Max Temperature:</strong> {{ getTempConvert(weatherData.main.temp_max) }}</p>
        <p><strong>Pressure:</strong> {{ weatherData.main.pressure }} hPa</p>
        <p><strong>Humidity:</strong> {{ weatherData.main.humidity }}%</p>
      </div>
    </section>
  
    <!-- Additional Weather Information -->
    <section class="weather-details" aria-labelledby="additional-info">
      <h3 id="additional-info" class="visually-hidden">Additional Weather Information</h3>
      <div class="additional-info">
        <p><strong>Weather:</strong> {{ weatherData.weather[0].description }}</p>
        <p><strong>Wind Speed:</strong> {{ getSpeedConvert(weatherData.wind.speed) }}</p>
        <p><strong>Cloudiness:</strong> {{ weatherData.clouds.all }}%</p>
        <p><strong>Visibility:</strong> {{ weatherData.visibility }} meters</p>
        <p><strong>Sunrise:</strong> {{ convertUnixTime(weatherData.sys.sunrise, weatherData.timezone) }}</p>
        <p><strong>Sunset:</strong> {{ convertUnixTime(weatherData.sys.sunset, weatherData.timezone) }}</p>
      </div>
    </section>
  </main>

  <section *ngIf="forecastData && !isNotFound && weatherData" class="clearfix" aria-labelledby="forecast-header">
    <header id="forecast-header" class="headeer">
      <h4>Forecast</h4>
    </header>
    <div class="forecast-container">
      <div 
        *ngFor="let forecast of groupedForecasts"
        class="tdia"
        (click)="navigateToDayForecast(forecast.date)" 
        title="Ver detalles del clima para {{ forecast.date }}"
      >
        <p><strong>{{ forecast.date }}</strong></p>
        <!-- Icono del clima -->
        <img [src]="'https://openweathermap.org/img/wn/' + forecast.icon + '.png'" 
             [alt]="forecast.description">
        <p>{{ getTempConvert(forecast.temp) }}°C</p>
        <p>{{ forecast.description }}</p>
        <p>💨 {{ getSpeedConvert(forecast.windSpeed) }} km/h</p>
        <p>☁️ {{ forecast.clouds }}%</p>
      </div>
    </div>
  </section>  
  

  </div>
</body>

