<main class="main">
    <div class="form-container">
      <!-- Formulario de búsqueda de ciudad -->
      <form [formGroup]="searchCityBar" (ngSubmit)="onSubmit()" class="city-form">
        <input formControlName="city" placeholder="Select the city" (keyup.enter)="onSubmit()" />
        <button type="button" (click)="toggleInputs()" class="toggle-button">
          {{ inputsVisible ? 'Hide Inputs' : 'Show Inputs' }}
        </button>
  
        <!-- Inputs de latitud y longitud alineados a la derecha -->
        <div *ngIf="inputsVisible" class="lat-lon-fields">
          <form [formGroup]="searchLatLonBar" (ngSubmit)="onSubmitLatLon()">
            <input type="text" placeholder="Latitude" formControlName="lat" (keyup.enter)="onSubmitLatLon()" />
            <input type="text" placeholder="Longitude" formControlName="lon" (keyup.enter)="onSubmitLatLon()" />
          </form>
        </div>
      </form>
  
     
      <div *ngIf="inputsVisible">
        <div *ngIf="searchLatLonBar.get('lat')?.invalid && (searchLatLonBar.get('lat')?.touched || searchLatLonBar.get('lat')?.dirty)">
          <small *ngIf="searchLatLonBar.get('lat')?.errors?.['required']">Latitude is required</small>
          <small *ngIf="searchLatLonBar.get('lat')?.errors?.['minlength']">Latitude must be at least 2 characters long</small>
        </div>
        <div *ngIf="searchLatLonBar.get('lon')?.invalid && (searchLatLonBar.get('lon')?.touched || searchLatLonBar.get('lon')?.dirty)">
          <small *ngIf="searchLatLonBar.get('lon')?.errors?.['required']">Longitude is required</small>
          <small *ngIf="searchLatLonBar.get('lon')?.errors?.['minlength']">Longitude must be at least 2 characters long</small>
        </div>
      </div>
    </div>
  </main>