<body >
  
  <!-- Título Grande en la pantalla con imagen circular de fondo -->
  <div class="title-container">
    
    <h1 class="big-title">Bienvenido a ClimateNow</h1>

  </div>
  
  <main class="main">
    <div class="form-container">
      <!-- Formulario de búsqueda de ciudad -->
      <form [formGroup]="searchCityBar" (ngSubmit)="onSubmit()" class="city-form">
        <div class="search-form">
          <input formControlName="city" placeholder="Select the city" (keyup.enter)="onSubmit()" class="search-input" />
        </div>
        <button type="submit" class="search-button">Search</button>
        <button type="button" (click)="toggleInputs()" class="toggle-button">
          {{ inputsVisible ? 'Hide Inputs' : 'Show Inputs' }}
        </button>
  
        <!-- Inputs de latitud y longitud alineados a la derecha -->
        <div *ngIf="inputsVisible" class="lat-lon-fields">
          <form [formGroup]="searchLatLonBar" (ngSubmit)="onSubmitLatLon()">
            <input type="text" placeholder="Latitude" formControlName="lat" (keyup.enter)="onSubmitLatLon()" />
            <input type="text" placeholder="Longitude" formControlName="lon" (keyup.enter)="onSubmitLatLon()" />
            <button class="search-button">Search</button>
          </form>
        </div>
      </form>

      <!-- Mensajes de error -->
      <div *ngIf="inputsVisible">
        <div *ngIf="searchLatLonBar.get('lat')?.invalid && (searchLatLonBar.get('lat')?.touched || searchLatLonBar.get('lat')?.dirty)">
          <small *ngIf="searchLatLonBar.get('lat')?.errors?.['required']">Latitude is required</small>
          <small *ngIf="searchLatLonBar.get('lat')?.errors?.['minlength']">Latitude must be at least 2 characters long</small>
        </div>
        <div *ngIf="searchLatLonBar.get('lon')?.invalid && (searchLatLonBar.get('lon')?.touched || searchLatLonBar.get('lon')?.dirty)">
          <small *ngIf="searchLatLonBar.get('lon')?.errors?.['required']">Longitude is required</small>
          <small *ngIf="searchLatLonBar.get('lon')?.errors?.['minlength']">Longitude must be at least 2 characters long</small>
        </div>
      </div>
    </div>
  </main>
</body>
