<div class="user-profile-container" *ngIf="currentUser; else noUser">
  <p><strong>Username:</strong> {{ currentUser.username }}</p>
  <p><strong>Email:</strong> {{ currentUser.email }}</p>

  <div>
    <strong>Residence City:</strong>
    <span *ngIf="!isEditingCity">{{ currentUser.residenceCity }}</span>
    <div *ngIf="isEditingCity">
      <form [formGroup]="residenceCityForm" (ngSubmit)="changeResidenceCity()">
        <input formControlName="residenceCity" />
        <button type="submit" [disabled]="!residenceCityForm.valid">Save</button>
      </form>
    </div>
    <button (click)="toggleEditCity()">
      {{ isEditingCity ? 'Cancel' : 'Edit' }}
    </button>
  </div>

  <h3>Search History</h3>
  <ul>
    <li *ngFor="let city of currentUser.searchHistory">
      {{ city }}
    </li>
  </ul>
  <button (click)="clearSearchHistory()">Clear search history</button>
  
  <h4>Delete account</h4>
  <button (click)="deleteUser()">Delete</button>
  
</div>
<div class="map-weather-container">
  <!-- Map Section -->
  <div class="map-section">
    <h3 class="nameMap">Map of {{ currentUser?.residenceCity }}</h3>
    <div id="map"></div>
  </div>

  <!-- Weather Details Section -->
  <div class="weather-section">
    <h4>Weather in {{ currentUser?.residenceCity }}</h4>
    <section class="weather-details" aria-labelledby="weather-info">
      <h3 id="weather-info" class="visually-hidden">Weather Information</h3>
      <div class="temperature-container">
        <p><strong>Temperature:</strong> {{ weatherData.main.temp }}</p>
        <p><strong>Feels Like:</strong> {{ weatherData.main.feels_like }}</p>
        <p><strong>Min Temperature:</strong> {{ weatherData.main.temp_min }}</p>
        <p><strong>Max Temperature:</strong> {{ weatherData.main.temp_max }}</p>
      </div>
      <div class="pressure-humidity">
        <p><strong>Pressure:</strong> {{ weatherData.main.pressure }} hPa</p>
        <p><strong>Humidity:</strong> {{ weatherData.main.humidity }}%</p>
      </div>
    </section>
  </div>
</div>
<ng-template #noUser>
  <p>No user is logged in. Please log in to see your profile.</p>
</ng-template>
